[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.26.40"
botocore = "==1.29.40"
django = "==4.0"
django-cors-headers = "==3.13.0"
django-storages = "==1.13.2"
djangorestframework = "==3.14.0"
djangorestframework-api-key = "==2.2.0"
drf-jwt = "==1.19.2"
gunicorn = "==20.1.0"
django-jazzmin = "==2.6.0"
psycopg2-binary = "==2.9.5"
pycparser = "==2.21"
pyjwt = "==2.6.0"
python-dateutil = "==2.8.2"
python-dotenv = "==0.21.0"
python-http-client = "==3.3.7"
pytz = "==2021.3"
requests = "==2.28.1"
s3transfer = "==0.6.0"
sendgrid = "==6.9.7"
sentry-sdk = "==1.12.1"
six = "==1.16.0"
sqlparse = "==0.4.3"
starkbank-ecdsa = "==2.2.0"
stripe = "==5.0.0"
tzdata = "==2022.7"
whitenoise = "==6.2.0"
shortuuid = "==1.0.11"

[dev-packages]

[requires]
python_version = "3.9"
